# Ignore virtual environments
venv/

# Python bytecode
__pycache__/
*.py[cod]

# SQLite database (optional)
db.sqlite3

# Django static/media (if using)
staticfiles/
media/

# Environment files
.env

# OS/system/IDE
.DS_Store
.vscode/
.idea/
